# Auto detect text files and perform LF normalization
* text=auto

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified
*.db binary
*.sqlite3 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary

# Exclude node_modules from Git's tracking
dura-react/node_modules/** -diff
dura-react/node_modules/.vite/** -diff
