run = "bash run.sh"
language = "python3"
modules = ["python-3.10"]

[[ports]]
localPort = 5020
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "gunicorn app:app --bind 0.0.0.0:5020 --timeout 120"]

[env]
PYTHONPATH = "/home/runner/${REPL_SLUG}"
FLASK_APP = "app.py"
FLASK_ENV = "development"
FLASK_DEBUG = "1"
PORT = "5020"

[nix]
channel = "stable-22_11"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[unitTest]
language = "nodejs"
